.button {
  display: inline-block;
  align-self: flex-start;
  padding: 15px 67px;
  border-radius: 62px;
  border: 1px solid transparent;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, opacity 0.3s;

  &--primary {
    color: #000;
    border-color: #00000052;

    @media (hover: hover) {
      &:hover {
        background-color: #000;
        color: #fff;
        box-shadow: 0 0 5px 1px #797171;
      }
    }

    &:active {
      opacity: 0.5;
    }
  }

  &--secondary {
    background-color: #000;
    color: #fff;

    @media (hover: hover) {
      &:hover {
        background-color: #fff;
        box-shadow: 0 0 3px 1px #000;
        color: #000;
      }
    }

    &:active {
      box-shadow: 0 0 25px 1px #000;
    }
  }

  &--subscription {
    width: 100%;
  }
}

.accept-quantity {
  width: 100%;
}

.promoCode {
  padding: 15px 40px;
}

.dissabled {
  opacity: 0.5;
  cursor: default;
  z-index: -1;

  @media (hover:hover) {
    &:hover {
      background-color: #f0f0f0;
      color: #000;
      box-shadow: none;
    }
  }
}