.header {
  padding: 38px 0;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & img {
      border-radius: 5px;
      padding: 2px;
      transition: box-shadow 0.2s, opacity 0.2s;

      @media (hover: hover) {
        &:hover {
          box-shadow: 0 0 3px 1px #000;
        }
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  &__list {
    display: flex;
    gap: 24px;
  }

  &__item {
    cursor: pointer;
    transition: text-shadow 0.3s, opacity 0.2s;

    @media (hover: hover) {
      &:hover {
        text-shadow: 0 0 3px #000;
      }
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__search-form {
    position: relative;
    max-width: 480px;
    width: 100%;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../../../assets/images/icons/search-icon.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
      left: 18px;
    }


  }

  &__input {
    width: 100%;
    border: none;
    border-radius: 62px;
    height: 48px;
    padding: 0 12px 0 48px;
    background-color: #F0F0F0;
    font-size: 16px;
    transition: box-shadow 0.3s;

    @media (hover: hover) {
      &:hover {
        box-shadow: 0 0 2px 1px #000;
      }
    }

    &:focus {
      box-shadow: 0 0 5px 1px #000;
    }
  }

  &__item-cart,
  &__item-account {
    position: relative;
    width: 30px;
    height: 30px;

    & img {
      width: 100%;
      padding: 2px;
    }
  }

  &__item-count {
    display: block;
    position: absolute;
    top: -5px;
    right: -3px;
    border-radius: 50%;
    background-color: #000;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    color: #fff;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s;

    &--active {
      opacity: 1;
    }
  }

  &__item-shop {
    position: relative;
    cursor: pointer;
    margin-right: 5px;

    &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 14px;
      right: -16px;
      top: 1px;
      background-image: url('../../../assets/images/icons/arrayBtnRight-icon.svg');
      transform: rotate(90deg);
      transition: top 0.3s;
    }

    &--popup {
      position: absolute;
      border: 1px solid #000;
      border-radius: 10px;
      background-color: #fff;
      padding: 5px;
      left: -5px;
      color: #000;
      opacity: 0;
      z-index: -1;
      box-shadow: 0 0 3px 1px #000;
      transition: opacity 0.3s, z-index 0.5s;
    }

    @media (hover:hover) {
      &:hover &--popup {
        opacity: 1;
        z-index: 10;
      }

      &:hover {
        &::after {
          top: 3px;
        }
      }
    }

    & h3 {
      font-size: 17px;
      margin-bottom: 10px;
    }

    & ul {
      width: 150px;
    }

    & li {
      margin-bottom: 5px;
      font-size: 17px;
      font-weight: 800;
    }
  }
}

.popup-item {
  border-radius: 10px;
  transition: box-shadow 0.3s;
  @media (hover:hover) {
    &:hover {
      box-shadow: 0 0 3px 1px #000;
    }
  }

  &:active {
    box-shadow: 0 0 20px 1px #000;
  }
}